@font-face {
  font-family: "gotham_bold";
  src: url("assets/fonts/Gotham Bold/Gotham Bold.otf")
}

@font-face {
  font-family: "source_sans_pro";
  src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf")
}

@font-face {
  font-family: "source_sans_pro";
  font-style: italic;
  src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf")
}

@font-face {
  font-family: "source_sans_pro";
  font-weight: bold;
  src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf")
}

header #img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("../../assets/graphics/samphil-saturation.jpg");  change to actual background image */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat
}

header #logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  z-index: 100
}
